extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section
		.container
			.background-img
				.box
					span
					span
					span
					span
					.content
						h2 My animated Border 
						p
							a(href='http://www.cakecounter.com', style='color:#00ffe9;', target='_blank')
							| All our modules are designed to play nicely with responsive of course. At the end of the day it comes down to the theme you use - our code doesn't get in your way.

