extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.gird.mt-5.mb-5
		.container
			.row
				.col.text-right
					.gird
					.list

	section.shop.mt-5.mb-5
		.container
			.row
				.col
					//- Modal
					#quickview.modal(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
						.modal-dialog.modal-dialog-centered(role='document')
							.modal-content
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') ×
								.modal-title
									h2
								.modal-body
									.row
										.col-5
										.col-7
			
			.row.aaa
				- for(x=1 ; x<20 ; x++)
					.col-12.col-sm-6.col-md-3.cnt
						.sales
							span.hot HOT
							span.hot GIFT
							span.sale Sales 30%
						.blockimg
							figure
								img.img-fluid(src="./img/biti's-hunter.jpg", alt="")
							figcaption
								h3 biti's hunter
								.price $60
								.desc Lorem ipsum dolor sit amet consectetur adipisicing elit.
						.details
							button(data-toggle='modal', data-target='#quickview', data-backdrop="static", data-keyboard="false").btn.btn-primary.b1 Quick Details
							button.btn.btn-primary.b2 Add to Card
							.hehe.d-none
								.owl-carousel.owl-theme
									.item asdfjslajflda
									.item asdfjslajflda
									.item asdfjslajflda
									.item asdfjslajflda
									.item asdfjslajflda
									.item asdfjslajflda
									.item asdfjslajflda
									.item asdfjslajflda
