extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.abc
		.container
			.row
				.col
					.tren-duoi
						.row.heit
							.col-xs-12.col-sm-4.block
								.item
									i.fa.fa-facebook
									.countup(data-count="300" data-from="10")
									h4 fsalfsajdfhjaskdhjk loremdsafdasf
								.item.aaa
									i.fa.fa-google
									.countup(data-count="1000" data-from="150")
									h4 fsalfsajdfhjaskdhjk
							.col-xs-12.col-sm-4.block
								.item.bbb
									.chimbay
										i.fa.fa-twitter
										.countup(data-count="1000" data-from="150")
										h4 fsalfsajdfhjaskdhjk lorem
							.col.col-sm-4.block
								.item
									i.fa.fa-youtube
									.countup(data-count="5005" data-from="500")
									h4 fsalfsajdfhjaskdhjk
								.item.acb
									i.fa.fa-google
									.countup(data-count="5005" data-from="500")
									h4 fsalfsajdfhjaskdhjk

