<!-- ////////////// FOOTER ////////////// -->
footer.pt-4.my-md-5.border-top
	.container
		.row
			.col
				select#phuong(name="boxx")
					option(value="0") default
					option(value="10") 1
					option(value="20") 2
					option(value="30") 3
					option(value="40") 4
					option(value="50") 5
		.row
			.col-12.col-md
				img.mb-2(src="./img/logo.png" alt="")
				small.d-block.mb-3.text-muted Copyright 2018 by 
					a(href='/') FullStack Vietnam.
			.col-6.col-md
				h5 Features
				ul.list-unstyled.text-small
					li
						a.text-muted(href="javascript:void(0);" onclick="getContent(this)" data-bg="#ff1" data-bo="#000") Cool stuff
					li
						a.text-muted(href="javascript:void(0);" onclick="getContent(this)" data-bg="#f11" data-bo="#66ff") Random feature
					li
						a.text-muted(href="javascript:void(0);" onclick="getContent('#f32f','#000')") Team feature
					li
						a.text-muted(href="javascript:void(0);" onclick="getContent('#f998','#ff5')") Stuff for developers
					li
						a.text-muted(href="javascript:void(0);" onclick="getContent('#0048','#000')") Another one
					li
						a.text-muted(href="javascript:void(0);" onclick="getContent('#f32f','#ff5')") Last time
			.col-6.col-md
				h5 Resources
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Resource
					li
						a.text-muted(href="#") Resource name
					li
						a.text-muted(href="#") Another resource
					li
						a.text-muted(href="#") Final resource
			.col-6.col-md
				h5 About
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Team
					li
						a.text-muted(href="#") Locations
					li
						a.text-muted(href="#") Privacy
					li
						a.text-muted(href="#") Terms
